ul, li, p{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#bodyPaddFix{
	padding: 0;
	margin: 0;
}

#windowMainContainerBack{
	width: 100%;
	height: 100%;
	position: absolute;
}

#windowMainContainerFore{
	width: 600px;
	height: 380px;
	background-color: #E8E8E8;
	margin: 0 auto;
	margin-top: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0px 0px 5px black;
}

#titleBarMain {
	width: 600px;
	height: 30px;
	background-color: #e1dbd3;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#titleBarInfo{
	text-align: left;
	color: #383736;
	font-family: verdana;
	font-size: 14px;
	position: absolute;
	margin-top: 4px;
	margin-left: 5px;
}

#mainContentMain{
	width: 600px;
	height: 350px;
	background-color: #F0F0F0;
	position: absolute;
}

#leftContainerMain{
	width: 180px;
	height: 350px;
	float: left;
	background-color: #f6f4f2;
}

#locationSelectContainerMain{
	width: 200px;
	height: 40px;
}

#locationSelect{
	margin-left: 15px;
	margin-top: 7px;
}

#monthSelectContainerMain{
	width: 200px;
	height: 310px;
}

.monthCb{
	margin-left: 17px;
	margin-top: 5px;
}

.monthCbvalues{
	color: #383736;
	font-family: arial;
	font-size: 16px;
	margin-left: 5px;
}

#rightContainerMain{
	width: 420px;
	height: 350px;
	float: left;
}

#tempInfoContainerMain{
	width: 420px;
	height: 200px;
	background-color: #f6f4f2;
}

#tempButtonContainerMain{
	width: 420px;
	height: 150px;
	background-color: #f6f4f2;
}

#tempButnStyle1{
	width: 165px;
	height: 60px;
	background-color: #edebeb;
	float: left;
	margin-top: 55px;
	border-radius: 5px;
	border-style: solid;
	border-color: #ada39a;
	border-width: 1px;
	cursor: pointer;
}

#tempButnStyle1:hover{
	background-color: #f1f1f1;
}

.tempButnTxt{
	color: #383736;
	font-family: arial;
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
}

#tempButnStyle2{
	width: 210px;
	height: 60px;
	background-color: #edebeb;
	float: left;
	margin-top: 55px;
	border-radius: 5px;
	border-style: solid;
	border-color: #ada39a;
	border-width: 1px;
	cursor: pointer;
	margin-left: 20px;
}

#tempButnTxt2{
	text-align: left;
	margin-top: 10px;
	margin-left: 5px;
}

#avrgTempInfoTxt{
	color: #383736;
	font-family: arial;
	font-size: 16px;
	text-align: left;
	margin-top: 82px;
	position: absolute;
}

#avrgTempDisplayContainer{
	width: 210px;
	height: 25px;
	background-color: white;
	border-radius: 5px;
	border-style: solid;
	border-color: #ada39a;
	border-width: 1px;
	position: absolute;
	margin-top: 110px;
}

#avrgTempDisplay{
	color: #383736;
	font-family: arial;
	font-size: 15px;
	text-align: left;
	position: absolute;
	margin-left: 5px;
	margin-top: 3px;
}

#tempEnterTransLayer{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
	position: absolute;
}

#enterTempContainerMain{
	width: 400px;
	height: auto;
	margin: 0 auto;
}

#enterTempContainer{
	width: 400px;
	height: auto;
	position: absolute;
	background-color: #f6f4f2;
	margin-top: 50px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px black;
}

#monthContainerMain{
	width: 150px;
	height: auto;
	background-color: #f6f4f2;
	border-radius: 5px;
	margin-top: 0px;
	float: left;
}

.monthsTextHeight{
	color: #383736;
	font-family: arial;
	font-size: 16px;
	text-align: left;
	margin-top: 7.5px;
	margin-left: 10px;
}

#enterTempInputContainerMain{
	width: 250px;
	height: auto;
	background-color: #f6f4f2;
	float: left;
}

.inputTempStyle{
	margin-top: 2px;
}

#submitTempButton{
	width: 100px;
	height: 40px;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	background-color: #edebeb;
	border-radius: 5px;
	border-style: solid;
	border-color: #ada39a;
	border-width: 1px;
	cursor: pointer;
}

#submitTempButtonTxt{
	color: #383736;
	font-family: arial;
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
}

.MonthsEnter{
	display: none;
}

.tempEnterContainer{
	display: none;
}

#tempEnterClose{
	width: 20px;
	height: 20px;
	background-color: red;
	color: white;
	border-radius: 100px;
	position: absolute;
	z-index: 2;
	display: none;
	margin-left: 390px;
	margin-top: -10px;
	cursor: pointer;
}

#tempEnterClose:hover{
	background-color: white;
	color: red;
}

#tempEnterCloseTxt{
	font-family: arial;
	font-size: 15px;
	text-align: center;
	margin-top: 1px;
}